# shared
dataset==0.5.2
psycopg2==2.5.3
docopt==0.6.2

# scraper
lxml==3.3.5
python-dateutil==2.2
requests==2.3.0
grequests==0.2.0
project-runpy==0.3.1

# pdf
boto==2.29.1
pdfminer==20140328
sh==1.09

# feed
bottle==0.12.7
rss2producer==0.1.1
pytz==2014.3
pyga==2.5.0
Jinja2==2.7.3

# heroku
gunicorn==18.0

# dev
postdoc==0.2.0
