# shared
dataset==0.5.2
psycopg2==2.5.3

# scraper
lxml==3.3.5
python-dateutil==2.2
requests==2.3.0
pdfminer==20140328

# feed
bottle==0.12.7
rss2producer==0.1.1

# heroku
gunicorn==18.0

# dev
postdoc==0.1.4
