# shared
Django
psycopg2
dj-database-url
dj-obj-update
django-bootstrap-pagination
django-extensions
django-object-actions
factory-boy
Pillow

# scraper
lxml
python-dateutil
requests
project-runpy

# pdf
boto
pdfminer
sh

# TODO
pyga

# Prod
waitress

# Dev
pip-tools
