{% extends "base.html" %}

{% block page_head %}{{ title }}{% endblock %}

{% block extra_style %}
  <style>
    h1 {
      margin: 0 0 0.25em;
    }

    .entry {
      border: 1px solid black;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 1em;
      margin: 0;
    }

    p {
      margin: 0;
    }

    footer {
      font-size: 0.7em;
    }
  </style>
{% endblock %}

{% block main %}
  <h1>{{ title }} </h1>
  <p>
    <a href="feed.xml{% if search %}?q={{ search }}{% endif %}">Rss Feed</a>
    <form action="." method="GET">
      <input type="search" name="q" placeholder="search" value="{% if search %}{{ search }}{% endif %}">
    </form>
  </p>
  {% for row in object_list %}
    <article class="entry">
      <h2>
        {{ row['title'] }}
        <small>
          <a href="{{ row['url'] }}">(link)</a>
        </small>
      </h2>
      <time>{{ row['date'] }}</time>
      <p>
        {{ row['text'][:1000] }}
      </p>
      <footer>
        Scraped at: {{ row['scraped_at'] }}
      </footer>
    </article>
  {% endfor %}
{% endblock %}
