{% extends "base.html" %}


{% block content %}
  <p>
    RSS feeds for most <a href="http://www.austintexas.gov/department/boards-and-commissions" target="_blank">City
      of Austin boards and commissions</a>.
  </p>
  <ul>
    <li>
      <a href="{% url 'bandc:bandc_detail' slug='all' %}">All</a>
      <a href="{% url 'bandc:feed' slug='all' %}"><small>(rss)</small></a>
    </li>
    {% for bandc in object_list %}
      <li>
         <a href="{% url 'bandc:bandc_detail' slug=bandc.slug %}">{{ bandc }}</a>
         <a href="{% url 'bandc:feed' slug=bandc.slug %}"><small>(rss)</small></a>
      </li>
    {% endfor %}
  </ul>
  <footer><small>
    All times are Central. All data is publicly available.
    <a href="https://github.com/crccheck/atx-bandc" target="_blank">Source code available here.</a>
  </small></footer>
{% endblock %}
