{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block head_title %}{% firstof bandc "All documents" %}{% endblock %}

{% block extra_style %}
<link rel="alternate" type="application/rss+xml" href="{% url 'feed' slug=view.kwargs.slug %">
  <style>
    .entry {
      background: #EEE;
      border: 1px solid #888;
      border-left: 0.4em solid #666;
      margin-bottom: 1em;
      overflow: hidden;
      padding: 0.5em;
    }

    .thumbnail-container {
      float: left;
      margin-right: 0.9em;
    }
  </style>
{% endblock %}

{% block content %}
  {% if bandc %}
    <h2>
      {{ bandc }}
      <small>
        <a href=" {{ bandc.homepage }}" target="_blank">
Homepage <i class="fa fa-external-link"></i>
</a>
</small>
</h2>
<!-- {{ bandc.description }} -->
{% else %}
<h2>All documents</h2>
{% endif %}
<p>
  <a href="{% url 'feed' slug=view.kwargs.slug %}">
    <i class="fa fa-rss-square"></i> RSS feed for this page
  </a>
</p>


{% if upcoming_meetings %}
<section>
  <h4>Upcoming meetings</h4>
  <div class="card-columns">
    {% for meeting in upcoming_meetings %}
    <div class="meeting-card card">
      <div class="card-header">
        <a href="{{ meeting.bandc.get_absolute_url }}">{{ meeting.bandc }}</a> &ndash;
        <a href="{{ meeting.get_absolute_url }}">{{ meeting.date }}</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ meeting.title }}</h5>
        <h6 class="card-subtitle">
        </h6>
        <ul>
          {% for document in meeting.documents.all %}
          <li><a href="{{ document.get_absolute_url }}">{{ document }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% empty %}
    <p>No upcoming meetings found</p>
    {% endfor %}
  </div>
</section>
{% endif %}


<div class="text-center">
  {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
</div>

{% for doc in object_list %}
<article class="entry {{ bandc.slug|slugify }}">
  <span class="label label-default">
    <a href="{{ doc.meeting.get_absolute_url }}">
      {% if not bandc %}
      {{ doc.meeting.bandc }} -
      {% endif %}
      {{ doc.meeting.date }}
    </a>
  </span>
  <h4>
    <a href="{{ doc.get_absolute_url }}">{{ doc }}</a>
    &mdash;
    <small>
      <a href="{{ doc.url }}" target="_blank" rel="noopener noreferrer">
        original
        {% if doc.edims_id %}
        pdf <i class="fa fa-file-pdf-o"></i>
        {% else %}
        link <i class="fa fa-external-link"></i>
        {% endif %}
      </a>
    </small>
  </h4>
  <time>{{ meeting.date }}</time>
  {% if doc.thumbnail %}
  <figure class="figure pull-left" style="margin: 0 0.5em 0.25em 0;">
    <a href="{{ doc.get_absolute_url }}">
      <img class="figure-img img-fluid" src="{{ doc.thumbnail.url }}" alt="Thumbnail of the first page of the PDF">
    </a>
    <figcaption class="figure-caption text-center">
      Page 1 of {{ doc.page_count }} page{{ doc.page_count|pluralize }}
    </figcaption>
  </figure>
  {% endif %}
  {% if doc.text %}
  <p>
    {{ doc.text|truncatewords:"400" }}
  </p>
  {% else %}
  <p>{{ doc.type }}</p>
  {% endif %}
  <footer>
    <small>Scraped at: {{ doc.scraped_at }}</small>
  </footer>
</article>
{% endfor %}

<div class="text-center">
  {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
</div>
{% endblock %}
