{% extends "base.html" %}

{% block head_title %}City of Austin Boards and Commissions{% endblock %}

{% block extra_style %}
<style>
  .meeting-card li {
    font-size: 0.8rem;
  }
</style>
{% endblock %}

{% block content %}
<p>
  Here are lists and RSS feeds for most <a href="https://www.austintexas.gov/department/boards-and-commissions"
    target="_blank">City of Austin Boards and Commissions</a>. The City uses a
  system of PDF documents that can make it hard to browse quickly. This site
  attempts to them into text to make it easy to follow what's happening in Austin.
</p>

<p>
  For City Council meetings, see <a
    href="https://www.austintexas.gov/department/city-council/council-meetings">austintexas.gov/department/city-council/council-meetings</a>
</p>

<p>
  <a href="{% url 'bandc_detail' slug='all' %}">View all documents</a>
  or
  <a href="{% url 'feed' slug='all' %}">
    Subscribe to the RSS feed <i class="fa fa-rss-square" title="rss"></i>
  </a>
</p>

<section>
  <h4>Upcoming meetings</h4>
  <div class="row">
    {% for meeting in upcoming_meetings %}
    <div class="col-sm-4">
      <div class="meeting-card card">
        <div class="card-header">
          <a href="{{ meeting.bandc.get_absolute_url }}">{{ meeting.bandc }}</a> &ndash; {{ meeting.date }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ meeting.title }}</h5>
          <h6 class="card-subtitle">
          </h6>
          <ul>
            {% for document in meeting.documents.all %}
            <li><a href="{{ document.get_absolute_url }}">{{ document }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No upcoming meetings found</p>
    {% endfor %}
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Board or Commission</th>
      <th>Latest Data</th>
      <th>RSS</th>
  </thead>
  <tbody>
    {% for bandc in object_list %}
    <tr>
      <td>
        {% if bandc.latest_meeting %}
        <a href="{% url 'bandc_detail' slug=bandc.slug %}">{{ bandc }}</a>
        {% else %}
        {{ bandc }}
        {% endif %}
      </td>
      <td>{{ bandc.latest_meeting.date.isoformat }}</td>
      <td>
        <a href="{% url 'feed' slug=bandc.slug %}"><i class="fa fa-rss-square" title="rss"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<footer><small>
    All times are Central. All data is publicly available.
    <a href="https://github.com/crccheck/atx-bandc" target="_blank">Source code available here.</a>
  </small></footer>
{% endblock %}
