{% extends "base.html" %}

{% block head_title %}{{ object }} | {{ object.meeting.bandc }}{% endblock %}

{% block extra_style %}
<style>
  article figure {
    border: 1px solid #ccc;
  }

  article p {
    white-space: pre-line;
  }
</style>
{% endblock %}

{% block breadcrumbs %}{% spaceless %}
<li class="breadcrumb-item">
  <a href="{{ object.meeting.bandc.get_absolute_url }}">{{ object.meeting.bandc }}</a>
</li>
<li class="breadcrumb-item">
  <a href="{{ object.meeting.get_absolute_url }}">{{ object.meeting.date }} Meeting</a>
</li>
{% endspaceless %}{% endblock %}
{% block content %}
<article class="entry">
  <span class="label label-default">
    <a href="{{ object.meeting.bandc.get_absolute_url }}">{{ object.meeting.bandc }}</a> &ndash;
    <a href="{{ object.meeting.get_absolute_url }}">{{ object.meeting.date }}</a>
  </span>
  <h4>
    {{ object }}
    &mdash;
    <small>
      <a href="{{ object.url }}" target="_blank" rel="noopener noreferrer">
        original
        {% if object._edims_id %}
        pdf <i class="fa fa-file-pdf-o"></i>
        {% else %}
        link <i class="fa fa-external-link"></i>
        {% endif %}
      </a>
    </small>
  </h4>
  <h5>
    {{ object.type }}
  </h5>
  <time>{{ meeting.date }}</time>
  {% if object.thumbnail %}
  <figure class="figure pull-left" style="margin: 0 0.5em 0.25em 0;">
    <a href="{{ object.url }}" target="_blank" rel="noopener noreferrer">
      <img class="figure-img img-fluid" src="{{ object.thumbnail.url }}" alt="Thumbnail of the first page of the PDF">
    </a>
    <figcaption class="figure-caption text-center">
      Page 1 of {{ object.page_count }} page{{ object.page_count|pluralize }}
    </figcaption>
  </figure>
  {% endif %}
  {% if object.text %}
  <p>
    {{ object.text }}
  </p>
  {% endif %}
  <footer>
    <small>Scraped at: {{ object.scraped_at }}</small>
  </footer>
</article>
{% endblock %}
