{% extends "base.html" %}

{% block head_title %}{{ object }} | {{ object.bandc }}{% endblock %}

{% block extra_style %}
<link rel="alternate" type="application/rss+xml" href="{% url 'feed' slug=view.kwargs.slug %">
  <style>
    .entry {
      background: #EEE;
      border: 1px solid #888;
      border-left: 0.4em solid #666;
      margin-bottom: 1em;
      overflow: hidden;
      padding: 0.5em;
    }

    .thumbnail-container {
      float: left;
      margin-right: 0.9em;
    }
  </style>
{% endblock %}
{% block breadcrumbs %}{% spaceless %}
  <li class=" breadcrumb-item">
    <a href="{{ object.bandc.get_absolute_url }}">{{ object.bandc }}</a>
  </li>
{% endspaceless %}{% endblock %}
{% block content %}
<section class="">
  <span class="label label-default">
    {{ object.bandc }} - {{ object.date }}
  </span>
  <h4>
    {{ object }}
  </h4>
  {% for doc in object.documents.all %}
  <article class="entry">
    {% include "agenda/includes/document_summary.html" with object=doc %}
  </article>

  {% endfor %}
  <footer>
    <small>Scraped at: {{ object.scraped_at }}</small>
  </footer>
</section>
{% endblock %}
