{% extends "base.html" %}

{% block head_title %}{{ object }} | {{ object.bandc }}{% endblock %}

{% block extra_style %}
<link rel="alternate" type="application/rss+xml" href="{% url 'feed' slug=view.kwargs.slug %">
  <style>
    .entry {
      background: #EEE;
      border: 1px solid #888;
      border-left: 0.4em solid #666;
      margin-bottom: 1em;
      overflow: hidden;
      padding: 0.5em;
    }

    .thumbnail-container {
      float: left;
      margin-right: 0.9em;
    }
  </style>
{% endblock %}
{% block breadcrumbs %}{% spaceless %}
  <li class=" breadcrumb-item">
    <a href="{{ object.bandc.get_absolute_url }}">{{ object.bandc }}</a>
  </li>
{% endspaceless %}{% endblock %}
{% block content %}
<section class="">
  <span class="label label-default">
    {{ object.bandc }} - {{ object.date }}
  </span>
  <h4>
    {{ object }}
  </h4>
  {% for doc in object.documents.all %}
  <article class="entry">
    <h4>
      <a href="{% url 'document_detail' bandc_slug=doc.meeting.bandc.slug pk=doc.pk %}">
        {{ doc }}
      </a>
      &mdash;
      <small>
        <a href="{{ doc.url }}" target="_blank" rel="noopener noreferrer">
          original
          {% if doc._edims_id %}
          pdf <i class="fa fa-file-pdf-o"></i>
          {% else %}
          link <i class="fa fa-external-link"></i>
          {% endif %}
        </a>
      </small>
    </h4>
    {% if doc.thumbnail %}
    <figure class="figure pull-left" style="margin: 0 0.5em 0.25em 0;">
      <a href="{{ doc.get_absolute_url }}">
        <img class="figure-img img-fluid" src="{{ doc.thumbnail.url }}" alt="Thumbnail of the first page of the PDF">
      </a>
      <figcaption class="figure-caption text-center">
        Page 1 of {{ doc.page_count }} page{{ doc.page_count|pluralize }}
      </figcaption>
    </figure>
    {% endif %}
    {% if doc.text %}
    <p>
      {{ doc.text|truncatewords:"400" }}
    </p>
    {% else %}
    <p>{{ doc.type }}</p>
    {% endif %}
    <footer>
      <small>Scraped at: {{ doc.scraped_at }}</small>
    </footer>
  </article>

  {% endfor %}
  <footer>
    <small>Scraped at: {{ object.scraped_at }}</small>
  </footer>
</section>
{% endblock %}
